apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "cascade.fullname" . }}-mongodb
  labels:
    {{- include "cascade.labels" . | nindent 4 }}
    app.kubernetes.io/component: mongodb
spec:
  serviceName: {{ include "cascade.fullname" . }}-mongodb-headless
  replicas: 3
  selector:
    matchLabels:
      {{- include "cascade.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: mongodb
  template:
    metadata:
      labels:
        {{- include "cascade.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:latest
          command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: data
              mountPath: /data/db
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cascade.fullname" . }}-mongodb-headless
  labels:
    {{- include "cascade.labels" . | nindent 4 }}
    app.kubernetes.io/component: mongodb
spec:
  clusterIP: None
  ports:
    - port: 27017
      targetPort: 27017
  selector:
    {{- include "cascade.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: mongodb
