apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cascade.fullname" . }}-redis
  labels:
    {{- include "cascade.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "cascade.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: redis
  template:
    metadata:
      labels:
        {{- include "cascade.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: redis
    spec:
      containers:
        - name: redis
          image: redis:latest
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "cascade.fullname" . }}-redis
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "cascade.fullname" . }}-redis-master
  labels:
    {{- include "cascade.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    {{- include "cascade.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: redis
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "cascade.fullname" . }}-redis
  labels:
    {{- include "cascade.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
