# Global Settings
global:
  storageClass: "standard"

# Application Configuration
app:
  environment: production
  image:
    repository: europe-west1-docker.pkg.dev/PROJECT_ID/cascade
    pullPolicy: Always
    tag: "latest"

# Services Configuration
auth:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80

boardCommand:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5

boardQuery:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5

apiDocs:
  replicaCount: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
  autoscaling:
    enabled: false

frontend:
  replicaCount: 1
  service:
    type: ClusterIP
    port: 80
  ingress:
    enabled: true
    className: "nginx"
    hosts:
      - host: "*"
        paths:
          - path: /
            pathType: Prefix
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 5

# Dependency Configuration

# Kafka UI
kafka-ui:
  enabled: true
  yamlApplicationConfig:
    kafka:
      clusters:
        - name: cascade-cluster
          bootstrapServers: cascade-kafka-kafka-bootstrap:9092

# Secrets Configuration
secrets:
  authSecret: "change-me-in-production"
  githubClientId: ""
  githubClientSecret: ""
